.navbar-brand {
  font-family: cursive;
  letter-spacing: 2px;
}

.logo-letter {
  color: rgb(219, 34, 10);
  font-weight: 600;
}

h1 {
  text-align: center;
  padding-top: 200px;
  font-family: cursive;
}

p {
  text-align: center;
  color: orangered;
}

